# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my_projects\live-com\live-com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
